{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
{% load django_bootstrap5 %}
{% load extras %}
  <style>
    /* Target the scrollbar track */
    ::-webkit-scrollbar {
        width: 8px; /* Width of the scrollbar */
    }
    
    ::-webkit-scrollbar-track {
        background: transparent; /* Make the track transparent */
    }
    
    ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.5); /* Semi-transparent thumb */
        border-radius: 4px; /* Rounded corners for thumb */
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.7); /* Darker thumb on hover */
    }
    
    /* Custom styles to ensure active state overrides any other text classes */
    .nav-pills .nav-link.active {
        color: white !important; /* Ensure active text is white */
        background-color: var(--bs-primary); /* Default background color for active state */
    }
</style>
<div class"container-fluid" >
  <div>
    <h1> Test method description of {{ assay.title }}</h1>
    </div>
    <div class="row">
        <!-- Scrollspy Sidebar -->
        <div class="col-4">

            <div class="overflow-y-auto vh-100">
                <nav id="navbar-questions" class="flex-column align-items-stretch border-end">
                    <nav class="nav nav-pills flex-column">
                        {% for section in sections %}
                            <a class="nav-link p-1 px-3 m-0 mt-3 fs-5{% if section.all_answers_accepted %} text-secondary {% endif %}" href="#section-{{ section.id }}">{{ section.title }}</a>
                            <nav class="nav nav-pills text-secondary flex-column">
                                {% for subsection in section.subsections.all %}
                                    <a class="nav-link ms-4 p-1 px-3{% if subsection.all_answers_accepted %} text-secondary {% endif %}" href="#subsection-{{ subsection.id }}">{{ subsection.title }}</a>
                                {% endfor %}
                            </nav>
                        {% endfor %}
                    </nav>
                </nav>
            </div>
        </div>
            

        <!-- Content Area for Questions -->
        <div class="col-8" >
            <form method="post" action="{{action}}" novalidate>
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div id="question-content" data-bs-spy="scroll" data-bs-target="#navbar-questions" data-bs-smooth-scroll="true" class="scrollspy-example-2 overflow-x-hidden" tabindex="0">
                    {% for section in sections %}
                        <div id="section-{{ section.id }}" class="p-1 mt-5 border-bottom">
                            <h4>{{ section.title }}</h4>
                            {% for subsection in section.subsections.all %}
                                <div id="subsection-{{ subsection.id }}" class="mt-3">
                                    <h5>{{ subsection.title }}</h5>
                                    {% for question in subsection.questions.all %}
                                      <div class="row">
                                        <div class="col-md-10"> 
                                          <div class="mb-3 has-validation">
                                                {% comment %} <label for="id_question_{{ question.id }}">{{ question.question_text }}</label> {% endcomment %}
                                                {% with quest_num='question_'|add_asstring:question.id %}
                                                {% bootstrap_field form|form_field:quest_num placeholder="" %}
                                                {% endwith %} 
                                          </div>
                                        </div>  
                                      <div class="col-md-2 align-self-end">  
                                        <div class="mb-3 has-validation">
                                              {% with accepted_num='accepted_'|add_asstring:question.id %}
                                              {% bootstrap_field form|form_field:accepted_num placeholder="" %}
                                              {% endwith %}
                                        </div>
                                          <button type="button" class="btn btn-outline-primary mb-3" id="openModalButton"
                                                  data-bs-toggle="modal"
                                                  data-bs-target="#versionHistoryModal"
                                                  data-assay-id="{{ assay.id }}"
                                                  data-question-id="{{question.id}}">
                                              History
                                          </button>
                                        </div>
                                      </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                
            </form>
        </div>
        <div class="fixed-bottom card border-0 bg-white">
          <div class="container">
            <!-- Progress bar -->
            {% with percentanswers=assay.get_n_accepted_answers|intdivperc:assay.get_n_answers %}
            <div id="progress" class="progress mt-3" role="progressbar" aria-label="Example with label" aria-valuenow="{{assay.get_n_accepted_answers}}" aria-valuemin="0" aria-valuemax="{{assay.get_n_answers}}">
              <div  class="progress-bar text-white" style="width: {{percentanswers}}%">{{percentanswers}} %</div>

            </div>
            {% endwith %}
            <!-- Buttons -->

            <div class="my-3 d-flex">
              {% bootstrap_button button_type="link" content="Back" href=back_url button_class="btn-outline-danger"  %}
              {% bootstrap_button button_type="submit" content="Save" button_class="btn-primary ms-auto" %}
              {% bootstrap_button button_type="button" content="Next unaccapted" button_class="btn-outline-secondary mx-1" id="btn_next_unaccepted" %}

              <div class="btn-group">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Export
                </button>
                <ul class="dropdown-menu">
                  {% with id=assay.id %}
                  <li><a class="dropdown-item" href="{{export_json_url}}">JSON</a></li>
                  <li><a class="dropdown-item" href="{{export_md_url}}">MD</a></li>
                  <li><a class="dropdown-item" href="{{export_pdf_url}}">PDF</a></li>
                  <li><a class="dropdown-item" href="{{export_xml_url}}">XML</a></li>
                  <li><a class="dropdown-item" href="{{export_docx_url}}">DOCX</a></li>
                  <li><a class="dropdown-item" href="{{export_html_url}}">HTML</a></li>
                  {% endwith %}
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<!-- Version History Modal -->
<div class="modal fade" id="versionHistoryModal" tabindex="-1" aria-labelledby="versionHistoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="versionHistoryLabel">Version History</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Content will be loaded dynamically via AJAX -->
          <div id="modal-body-content">
            <p>Loading version history...</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<!-- Scrollspy Auto Scroll Script -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Get the modal element and modal body
      var modal = document.getElementById('versionHistoryModal');
      var modalBody = document.getElementById('modal-body-content');
  
      // Add event listener to the modal to fire when it is about to be shown
      modal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget;
        // Extract model_id, assay_id, and question_id from data-* attributes
        var modelId = button.getAttribute('data-model-id');
        var assayId = button.getAttribute('data-assay-id');
        var questionId = button.getAttribute('data-question-id');
        console.log(questionId)
        // Clear previous content in modal
        modalBody.innerHTML = '<p>Loading version history...</p>';
        if (questionId) {
        // Fetch the version history with assay_id and question_id as query parameters
        fetch(`question/${questionId}/version-history/`)
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.text(); // Get response as HTML
          })
          .then(data => {
            // Insert the version history HTML into the modal body
            modalBody.innerHTML = data;
          })
          .catch(error => {
            modalBody.innerHTML = '<p>Error loading version history. Please save the answers at least once for the version history to be displayed.</p>';
          });
        }
      });
    });
  </script>

  {% comment %} <script>
    // Function to handle the validation class based on checkbox state
    function toggleValidClass(checkbox) {
      // Get the parent .mb-3 has-validation div
      const parentDiv = checkbox.closest('.has-validation');
      
      // Find the textarea within the same parent div
      const textarea = parentDiv.querySelector('textarea');
      
      // Toggle the 'is-valid' class based on the checkbox state
      if (checkbox.checked) {
        textarea.classList.add('is-valid');
      } else {
        textarea.classList.remove('is-valid');
      }
    }
  
    // Apply the function on page load for all checkboxes
    document.querySelectorAll('.form-check-input').forEach(function(checkbox) {
      toggleValidClass(checkbox);
  
      // Add event listener for checkbox state change
      checkbox.addEventListener('change', function() {
        toggleValidClass(this);
      });
    });
  </script> {% endcomment %}

  <script>
    // Function to find and focus on the next unchecked "Accepted" checkbox
    function focusNextUnaccepted() {
      // Get all the checkboxes with the class 'btn-check'
      const checkboxes = document.querySelectorAll('.form-check-input');
      let foundUnchecked = false;  // Flag to track if an unchecked checkbox is found
      
      // Loop through the checkboxes
      for (let i = 0; i < checkboxes.length; i++) {
        // If the checkbox is not checked, focus on its corresponding question
        if (!checkboxes[i].checked) {
          foundUnchecked = true;  // Set the flag to true if we find an unchecked checkbox
          
          // Find the closest parent .has-validation div for the unchecked checkbox
          const parentDiv = checkboxes[i].closest('.row');
          
          // Find the textarea or question div within the same parent container
          const question_label = parentDiv ? parentDiv.querySelector('.form-label') : null;
          
          // If a question label is found, scroll to it and focus on it
          if (question_label) {
            question_label.scrollIntoView({ behavior: 'smooth' }); // Smooth scroll to the label
            question_label.focus(); // Set focus on the label
          } else {
            console.warn('No question found within the parent div:', parentDiv);
          }
          break; // Exit the loop once we find the first unchecked checkbox
        }
      }
      
      // If no unchecked checkbox was found, display an alert
      if (!foundUnchecked) {
        alert('Congratulations, it appears all answers have been marked as accepted!');
      }
    }
  
    // Add event listener to the button that triggers this function
    document.getElementById('btn_next_unaccepted').addEventListener('click', focusNextUnaccepted);
  </script>

  <script>
    // Resizing the textareas
    function autoResizeTextarea(textarea) {
        textarea.style.height = ""; // Reset height
        textarea.style.height = textarea.scrollHeight + 3 + "px"; // Set new height
    }

    // When the page loads
    document.addEventListener("DOMContentLoaded", function() {
        var textareas = document.querySelectorAll("textarea");
        textareas.forEach(function(textarea){
          autoResizeTextarea(textarea); // Adjust the textarea's height on load
        })
    });
</script>
{% include "error_handling.html" %}
{% endblock %}

