{# toxtempass/templates/toxtempass/assay_list.html #}
{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}

{% block title %}Your Assays &amp; Stats{% endblock %}

{% block content %}
  <h1>Assay Overview</h1>

  {# django-tables2 will pass a “table” object into the context #}
  
  {% render_table table %}

  <a class="btn btn-primary" id="id_btn_new" href="{% url 'add_new' %}">New</a>
  {% block extra_js %}
    <script>
      document.addEventListener("DOMContentLoaded", function(){
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
      })
    </script>

    {% include "answer_extras/polling_and_reload_busy.html" %}

    {% include "answer_extras/feedback_export.html" %}

  {% endblock %}

  {% block extra_css %}
        <style>
        /* only target links inside headers with .no-link-header */
        th.no-link-header a {
          color: inherit;
          text-decoration: none;
        }
        th.no-link-header a:hover {
          text-decoration: underline;
        }
        </style>
  {% endblock %}

{% endblock %}

