{% load static%}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasUser" aria-labelledby="offcanvasUserLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasUserLabel"><i class="bi bi-person-badge"></i> {{user.email}}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="mb-3">
            <p class="mb-1">You are logged in as <strong>{{ user.email }}</strong>.</p>
            {% if user.orcid_id %}
            <p class="mb-0">Here you can log out, or cite this tool.</p>
            {% else %}
            <p class="mb-0">Here you can link your ORCID, log out, or cite this tool.</p>
            {% endif %}
        </div>
        {% if user.orcid_id %}
        {% else %}
        <div class="d-grid gap-2 ">
        <a class="btn d-flex align-items-center justify-content-center btn-outline-secondary" href="{% url 'orcid_login' %}">
            <img class="h-75 pe-2" src="{% static 'toxtempass/img/ORCID-iD_icon_vector.svg' %}" alt="ORCID" >
            Link ORCID
        </a>
        </div>
        {% endif %}
        <div class="d-flex flex-column gap-2 mt-3">
            <a class="btn btn-secondary w-25" role="button" href="{% url 'logout'%}">Logout</a>
        </div>
    </div>
    <div class="text-center mb-2">
        <a href="https://doi.org/10.5281/zenodo.15607643">
            <img src="https://zenodo.org/badge/DOI/10.5281/zenodo.15607643.svg" alt="DOI">
        </a>
    </div>
    <div class="sticky-bottom d-flex justify-content-center pb-3">
        <div class="btn-group" role="group">
            <a class="btn btn-sm btn-outline-primary d-flex align-items-center" type="button" href="{{ config.github_repo_url }}">
                <i class="bi bi-github"></i>
                {% if config.git_hash %}
                    <span class="ms-1 small text-muted">{{ config.git_hash|slice:":7" }}</span>
                {% endif %}
            </a>
            <a class="btn btn-sm btn-outline-primary" type="button" href="mailto:{{config.maintainer_email}}?subject=%5BToxTempAssistant%5D%20%3CEnter%20Subject%20Here%3E"> <i class="bi bi-envelope-paper-heart"></i></a>
            <button class="btn btn-sm btn-outline-primary" type="button" data-bs-target="#copyrightModal" data-bs-toggle="modal"> <i class="bi bi-c-circle"></i></button>
            <button class="btn btn-sm btn-outline-primary" type="button" data-bs-target="#termsModal" data-bs-toggle="modal" href="#"> <i class="bi bi-book"></i> </button>
            <a class="btn btn-sm btn-outline-primary d-flex align-items-center" type="button" href="{{ config.model_info_url}}">
                <i class="bi bi-openai"></i>
                <span class="ms-1 small text-muted">{{config.model}}</span>
            </a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="copyrightModal" tabindex="-1" aria-labelledby="copyrightModalLabel" aria-hidden="true" style="z-index: 1200;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="copyrightModalLabel">Copyright</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'md_content/auto_generated_html/LICENSE.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% include "terms_of_service_modal.html" %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll("[data-bs-toggle='modal']").forEach((btn) => {
            btn.addEventListener("click", function () {
                let offcanvasEl = document.querySelector(".offcanvas.show");
                let targetModal = document.querySelector(btn.getAttribute("data-bs-target"));
    
                if (offcanvasEl) {
                    let offcanvas = bootstrap.Offcanvas.getInstance(offcanvasEl);
                    offcanvas.hide();
    
                    setTimeout(() => {
                        let modal = new bootstrap.Modal(targetModal);
                        modal.show();
                    }, 300); // Delay ensures offcanvas fully closes
    
                    targetModal.addEventListener("hidden.bs.modal", function () {
                        let offcanvas = new bootstrap.Offcanvas(offcanvasEl);
                        offcanvas.show();
                    }, { once: true });
                }
            });
        });
    });
</script>
