{% load static%}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasUser" aria-labelledby="offcanvasUserLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasUserLabel"><i class="bi bi-person-badge"></i> {{user.email}}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
        </div>
        {% if user.orcid_id %}
        {% else %}
        <div class="d-grid gap-2 ">
        <a class="btn d-flex align-items-center justify-content-center btn-outline-secondary" href="{% url 'orcid_login' %}">
            <img class="h-75 pe-2" src="{% static 'toxtempass/img/ORCID-iD_icon_vector.svg' %}" alt="ORCID" >
            Link ORCID
        </a>
        </div>
        {% endif %}
        <a class="btn btn-secondary mt-3" role="button" href="{% url 'logout'%}">Logout</a>
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Dropdown button
            </button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
    <div class="sticky-bottom d-flex justify-content-center pb-3">
        <div class="btn-group" role="group">
            <a class="btn btn-sm btn-outline-primary" type="button" href="{{config.github_repo_url}}"> <i class="bi bi-github"></i></a>
            <a class="btn btn-sm btn-outline-primary" type="button" href="mailto:Jente.Houweling@rivm.nl"> <i class="bi bi-envelope-paper-heart"></i></a>
            <button class="btn btn-sm btn-outline-primary" type="button" data-bs-target="#copyrightModal" data-bs-toggle="modal"> <i class="bi bi-c-circle"></i></button>
            <button class="btn btn-sm btn-outline-primary" type="button" href="#"> {{config.version}} </button>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" style="transform: scale(-1,1);", height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-120q-91 0-158.5-57.5T243-324q-72-14-117.5-70T80-522q0-83 58.5-140.5T280-720h100q8 0 14-6t6-14q0-8-6-14t-14-6h-60q-17 0-28.5-11.5T280-800q0-17 11.5-28.5T320-840h60q42 0 71 29t29 71q0 42-29 71t-71 29H280q-50 0-85 34t-35 83q0 40 23 72.5t61 44.5q16-85 81.5-139.5T478-600q20 0 39.5 3t36.5 8q8-3 15.5-5t15.5-3.5q8-1.5 17-2t18-.5q73 0 126 51t53 126q0 9-.5 16t-2.5 11l38 35q23 20 34 46.5t11 55.5q0 58-40.5 98.5T741-120H480Zm0-80h261q24 0 41.5-17.5T800-259q0-13-5-24t-14-19l-75-68q8-11 11-24t3-27q0-42-29-70.5T620-520q-42 0-71 29t-29 71q0 20 7 38.5t22 32.5l-56 56q-28-23-40.5-58T440-423q0-26 7-50t21-46q-60 0-104 47t-44 112q0 33 12.5 62.5t34.5 51q22 21.5 51 34t62 12.5Zm200-40q-17 0-28.5-11.5T640-280q0-17 11.5-28.5T680-320q17 0 28.5 11.5T720-280q0 17-11.5 28.5T680-240ZM560-400Z"/></svg>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="copyrightModal" tabindex="-1" aria-labelledby="copyrightModalLabel" aria-hidden="true" style="z-index: 1200;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="copyrightModalLabel">Copyright</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll("[data-bs-toggle='modal']").forEach((btn) => {
            btn.addEventListener("click", function () {
                let offcanvasEl = document.querySelector(".offcanvas.show");
                let targetModal = document.querySelector(btn.getAttribute("data-bs-target"));
    
                if (offcanvasEl) {
                    let offcanvas = bootstrap.Offcanvas.getInstance(offcanvasEl);
                    offcanvas.hide();
    
                    setTimeout(() => {
                        let modal = new bootstrap.Modal(targetModal);
                        modal.show();
                    }, 300); // Delay ensures offcanvas fully closes
    
                    targetModal.addEventListener("hidden.bs.modal", function () {
                        let offcanvas = new bootstrap.Offcanvas(offcanvasEl);
                        offcanvas.show();
                    }, { once: true });
                }
            });
        });
    });
</script>