<h1>Version History of {{ instance }}</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Changed by</th>
      <th>Date</th>
      <th>Old</th>
      <th>New</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in version_changes %}
    <tr>
      <td>{{ entry.version.history_id }}</td>
      <td>{{ entry.version.history_user }}</td>
      <td>{{ entry.version.history_date }}</td>
      <td>
        {% if entry.changes %}
        <!-- List all field changes between versions -->
        {% for change in entry.changes %}
        {{ change.old }}<br>
        {% endfor %}
        {% else %}
        <em>No previous record</em>
        {% endif %}
      </td>
      <td>
        {% if entry.changes %}
        <!-- List all field changes between versions -->
        {% for change in entry.changes %}
        {{ change.new }}<br>
        {% endfor %}
        {% else %}
        <em>No previous record</em>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>