

<h1>{{ instance|title}}</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Changed by</th>
      <th>Date</th>
      <th>Field</th>
      <th>Old</th>
      <th>New</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in version_changes %}
    <tr>
      <td>{{ entry.version.history_id }}</td>
      <td>{{ entry.version.history_user }}</td>
      <td>{{ entry.version.history_date }}</td>
      {% if entry.changes %}
      <td>
        <!-- List all field anmes with changes between versions -->
        {% for change in entry.changes %}
        {{ change.field }}<br>
        {% endfor %}

      </td>
      <td>
        <!-- List all field changes between versions -->
        {% for change in entry.changes %}
        {{ change.old }}<br>
        {% endfor %}
      </td>
      <td>
        <!-- List all field changes between versions -->
        {% for change in entry.changes %}
        {{ change.new }}<br>
        {% endfor %}
      </td>
      {% else %}
      <td></td>
      <td></td>
      <td><em>No previous record</em></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>