<script>
    // Resizing the textareas
    function autoResizeTextarea(textarea) {
        textarea.style.height = ""; // Reset height
        textarea.style.height = textarea.scrollHeight + 3 + "px"; // Set new height
    }

    // When the page loads
    document.addEventListener("DOMContentLoaded", function() {
        var textareas = document.querySelectorAll("textarea:not(.exclude-autoResizeTextarea)"); // Select all textareas exclude textarea with class exclude-autoResizeTextarea
        textareas.forEach(function(textarea){
          autoResizeTextarea(textarea); // Adjust the textarea's height on load
        })
    });
</script>