

<h2 class="d-inline-block text-truncate w-100">{{ instance|title}}</h2>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>When</th>
      <th>Answer</th>
      <th>Context Document(s)</th>
      <th>Changed by</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in version_changes %}
      <tr>
        {% if entry.changes %}
          <td>{{ entry.version.history_date }}</td>

          <!-- Column for Answer Text -->
          <td>
            {% for change in entry.changes %}
              {% if change.field == "answer_text" %}
              {{entry.answer_text_changes_html|safe}}
              {% endif %}
            {% endfor %}
          </td>

          <!-- Column for Answer Document -->
          <td>
            {% for change in entry.changes %}
              {% if change.field == "answer_documents" %}
                {{ change.new }}
              {% endif %}
            {% endfor %}
          </td>

          <td>{{ entry.version.history_user }}</td>
          <td>{{ entry.version.history_id }}</td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>